<h1>Genre information</h1>

<%= link_to 'Edit this genre', edit_genre_path %>

<p><b>Genre name:</b> <%= @genre.name %> </p>

<h3>Movies in the <%= @genre.name %> genre</h3>
<ul>
  <% @genre.movies.each do | movie | %>
    <li> <%= link_to movie.title, movie_path(movie.id) %> </li>
  <% end %>
</ul>