<h1>Movie Catalog</h1>

<p>Welcome to the movie catalog. Here you can find information about movies, genres, and directors.</p>

<%= link_to 'Genre List', genres_path %><br>
<%= link_to 'Director List', directors_path %><br>
<%= link_to 'Movie List', movies_path %>